header {
    padding: 500px 0 100px;
  }
  
  section {
    padding: 50px 0;
  }

  header{ 
    background: url("/assets/images/siteinfo.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }


  