
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: #563d7c">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Site Inspection</a>

       <button class="navbar-toggler" type="button"data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarResponsive"> 
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" id="btn1"  [ngx-scroll-to]="'#section1'">General Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" id="btn2" [ngx-scroll-to]="'#section2'">Good Photos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" id="btn3" [ngx-scroll-to]="'#section3'">Observation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" id="btn4" [ngx-scroll-to]="'#section4'">Summary Statistics</a>
            </li> 
        </ul> 
            <button style="background:none;color:white;float:right;margin-left:20px;" (click)="print()">Print</button>   
            <button style="background:none;color:white;float:right;margin-left:20px;" (click)="exportContent()">Export to pdf</button>
            <button style="background:none;color:white;margin-left:20px;" [routerLink]="['/login']">Logout</button>
      </div>
    </div>
</nav>

<!-- Header -->
<header class="bg-light text-white">
    <div class="container text-center" id="header-img">   
    </div>
</header>

<div id="toprint"> 
    <section id="section1" class="bg-light">
        <div class="container" >
            <div class="row">
                <div class="col-lg-8">
                    <h2>General Info</h2><hr>
                    <form [formGroup] ="registerGeneralInfo" (ngSubmit)="generalInfo(registerGeneralInfo.value)">
                        <div class="form-group">
                            <label for="inspector">Inspector</label>
                            <select class="form-control" formControlName="inspector"required>
                                <option *ngFor="let item of inspector">{{item}}</option>
                            </select>
                            
                            <div  *ngIf="registerGeneralInfo.get('inspector').status =='INVALID'"  class="alert alert-danger">
                                Inspector name is required
                            </div> 
                        </div>
            
                        <div class="form-group">
                            <label for="inspectiontype">Inspection Type</label>
                            <select class="form-control" formControlName="inspectiontype"   required>
                                    <option *ngFor="let item of inspectiontype">{{item}}</option>
                            </select>
            
                            <div  *ngIf="registerGeneralInfo.get('inspectiontype').status =='INVALID'"  class="alert alert-danger">
                                Inspection Type is required
                            </div> 
                        </div>
            
                        <div class="form-group">
                            <label for="inspectiondate">Inspection Date</label>
                            <input type="date"  class="form-control" formControlName="inspectiondate" required>
                            <div  *ngIf="registerGeneralInfo.get('inspectiondate').status =='INVALID'"  class="alert alert-danger">
                                Inspection Date is required
                            </div> 
                        </div>
            
            
                        <div class="form-group">
                            <label for="inspectiontime">Inspection Time</label>
                            <input type="time"  class="form-control" formControlName="inspectiontime" required>
                            <div  *ngIf="registerGeneralInfo.get('inspectiontime').status =='INVALID'"  class="alert alert-danger">
                                Inspection Time is required
                            </div> 
                        </div>
            
                        <div class="form-group">
                            <label for="inspectionnumber">Inspection Number</label>
                            <select class="form-control" formControlName="inspectionnumber"   required>
                                    <option *ngFor="let item of inspectionnumber">{{item}}</option>
                            </select>
                            <div  *ngIf="registerGeneralInfo.get('inspectionnumber').status =='INVALID'"  class="alert alert-danger">
                                Inspection Number is required
                            </div> 
                        </div>
            
                        <div class="form-group">
                            <label for="participants">Participants</label>
                            <select class="form-control" formControlName="participants"   required>
                                    <option *ngFor="let item of participants">{{item}}</option>
                            </select>
                            <div  *ngIf="registerGeneralInfo.get('participants').status =='INVALID'"  class="alert alert-danger">
                                Participants is required
                            </div> 
                        </div>
            
                        <div class="form-group">
                            <label for="summary">Observation Summary /Description</label>
                            <textarea class="form-control"  formControlName="summary" rows="3" required></textarea>
                            <div  *ngIf="registerGeneralInfo.get('summary').status =='INVALID'"  class="alert alert-danger">
                                Observation Summary /Description is required
                            </div> 
                        </div>
            
                        <div class="form-group"  *ngIf="msgGeneralInfo" id="hide-button13">
                            <div class="col-xs-12">
                                <p class="alert alert-success">
                                    <strong>{{msgGeneralInfo}}</strong> 
                                </p>
                            </div>
                        </div>
                
                        <div id="hide-button14">
                            <button class="btn btn-primary" [disabled]='!registerGeneralInfo.valid'>Update</button>
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </section>
        
    <section id="section2" class="bg-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2>Good Photos</h2><hr>
                    <form  [formGroup] ="registerGoodPhotos" (ngSubmit)="goodphotos(registerGoodPhotos.value)">
                        <div class="form-group">
                            <label for="Images">Choose Image for upload</label>        
                            <input type="file" class="form-control" formControlName="goodPhotos" name="goodPhotos" accept="image/*" (change)="detectFilesA($event)">
                            <img *ngIf="url1" [src]="url1" class="rounded mb-3" height="200">
                            <div  *ngIf="registerGoodPhotos.get('goodPhotos').status =='INVALID'"  class="alert alert-danger">
                                Please upload Image
                            </div> 
                        </div>
            
                        <div class="form-group">
                            <label for="location">Location</label>
                            <select class="form-control" formControlName="location"   required>
                                <option *ngFor="let item of location">{{item}}</option>
                            </select>
                            
                            <div  *ngIf="registerGoodPhotos.get('location').status =='INVALID'"  class="alert alert-danger">
                                Location is required
                            </div> 
                        </div>
            
                        <div class="form-group">
                            <label for="observe">Description</label>
                            <input type="text"  class="form-control" formControlName="description" required>
                            
                            <!-- <select class="form-control" formControlName="observe" required>
                                <option *ngFor="let item of locations">{{item}}</option>
                            </select> -->
                            <div  *ngIf="registerGoodPhotos.get('description').status =='INVALID'"  class="alert alert-danger">
                                Description is required
                            </div> 
                        </div>
            
                        <div class="form-group"  *ngIf="msgGoodphotos">
                            <div class="col-xs-12">
                                <p class="alert alert-success" id="hide-button3">
                                    <strong>{{msgGoodphotos}}</strong> 
                                </p>
                            </div>
                        </div>
                
                        <div id="hide-button4">
                            <button class="btn btn-primary"[disabled]='!registerGoodPhotos.valid'>Update</button>
                        </div>  
                    </form>      
                </div>
            </div>
        </div>
    </section>
    
    <section id="section3"  class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2>Observation</h2><hr>
                        <div class="panel-heading" style="font-size:20px;text-align: center;">
                        Before Photos
                        </div>
                        <form  [formGroup] ="registerObservation" (ngSubmit)="observation(registerObservation.value)">
                            <div class="form-group" id="beforePhotos">
                                <label for="location">Choose Image for upload</label>
                                <input type="file" class="form-control" formControlName="observationImages" name="observationImages" accept="image/*" (change)="detectFilesB($event)" required>
                                <img *ngIf="url2" [src]="url2" class="rounded mb-3" height="200" style="text-align: center; vertical-align: middle;">
                            </div>
                            <div  *ngIf="registerObservation.get('observationImages').status =='INVALID'"  class="alert alert-danger">
                                Please upload Image
                            </div> 
            
                            <div class="form-group">
                                <label for="locations">Location</label>
                                <select class="form-control" formControlName="locations"   required>
                                    <option *ngFor="let item of locations">{{item}}</option>
                                </select>
                                
                                <div  *ngIf="registerObservation.get('locations').status =='INVALID'"  class="alert alert-danger">
                                    Location is required
                                </div> 
                            </div>
                
                            <div class="form-group">
                                <label for="observe">Observation</label>
                                <input type="text"  class="form-control" formControlName="observe" required>
                                
                                <!-- <select class="form-control" formControlName="observe" required>
                                    <option *ngFor="let item of observations">{{item}}</option>
                                </select> -->
                                <div  *ngIf="registerObservation.get('observe').status =='INVALID'"  class="alert alert-danger">
                                    Observation is required
                                </div> 
                            </div>
                
                            <div class="form-group">
                                <label for="followup">Follow Up Person</label>
                                <!-- <input type="text"  class="form-control" formControlName="followup" required> -->
                                
                                <select class="form-control" formControlName="followup" required>
                                    <option *ngFor="let item of followup">{{item}}</option>
                                </select>
                                <div  *ngIf="registerObservation.get('followup').status =='INVALID'"  class="alert alert-danger">
                                    Follow Up Person is required
                                </div> 
                            </div>
            
                            <div class="form-group"  *ngIf="msgObservation" id="hide-button6">
                                <div class="col-xs-12">
                                    <p class="alert alert-success">
                                        <strong>{{msgObservation}}</strong> 
                                    </p>
                                </div>
                            </div>
                    
                            <div id="hide-button7">
                                <button class="btn btn-primary"  [disabled]='!registerObservation.valid'>Update</button>
                            </div>  
                        </form>

                        <div class="panel-heading" style="font-size:20px;text-align: center;">
                            Rectified Photos
                        </div><hr>
                        <form  [formGroup] ="registerObservationAfter" (ngSubmit)="observationAfter(registerObservationAfter.value)">
                            <div class="form-group">
                                <label for="Images">Choose Image for upload</label>
                                <input type="file" class="form-control" formControlName="observationImagesAfter" name="observationImagesAfter" accept="image/*" (change)="detectFilesC($event)" required>
                                <img *ngIf="url3" [src]="url3" class="rounded mb-3" height="200" style="text-align: center; vertical-align: middle;">
                                <div  *ngIf="registerObservationAfter.get('observationImagesAfter').status =='INVALID'"  class="alert alert-danger">
                                    Please upload Image
                                </div> 
                            </div>
                
                            <div class="form-group">
                                <label for="locations">Location</label>
                                <select class="form-control" formControlName="locations"   required>
                                    <option *ngFor="let item of locations">{{item}}</option>
                                </select>
                                
                                <div  *ngIf="registerObservationAfter.get('locations').status =='INVALID'"  class="alert alert-danger">
                                    Location is required
                                </div> 
                            </div>
                
                            <div class="form-group">
                                <label for="observe">Comments</label>
                                <input type="text"  class="form-control" formControlName="comment" required>
                                
                                <!-- <select class="form-control" formControlName="observe" required>
                                    <option *ngFor="let item of locations">{{item}}</option>
                                </select> -->
                                <div  *ngIf="registerObservationAfter.get('comment').status =='INVALID'"  class="alert alert-danger">
                                    Comment is required
                                </div> 
                            </div>
            
                            <div class="form-group">
                                <label for="followup">Name</label>
                                <!-- <input type="text"  class="form-control" formControlName="followup" required> -->
                                
                                <select class="form-control" formControlName="name" required>
                                    <option *ngFor="let item of name">{{item}}</option>
                                </select>
                                <div  *ngIf="registerObservationAfter.get('name').status =='INVALID'"  class="alert alert-danger">
                                    Name is required
                                </div> 
                            </div>
                
                            <div class="form-group"  *ngIf="msgObservationAfter">
                                <div class="col-xs-12">
                                    <p class="alert alert-success" id="hide-button8">
                                        <strong>{{msgObservationAfter}}</strong> 
                                    </p>
                                </div>
                            </div>
                    
                            <div id="hide-button9">
                                <button class="btn btn-primary" [disabled]='!registerObservationAfter.valid'>Update</button>
                            </div>  
                        </form>
                </div>
            </div>
        </div>
    </section>
    
    <section id="section4" class="bg-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2>Summary</h2><hr>
                    <form  [formGroup] ="registerStatistics" (ngSubmit)="statistics(registerStatistics.value)">
                            <div class="form-group">
                                <label for="summary">Observation Summary /Description</label>
                                <textarea class="form-control"  formControlName="summary" rows="3" required></textarea>
                                <div  *ngIf="registerStatistics.get('summary').status =='INVALID'"  class="alert alert-danger">
                                    Summary /Description is required
                                </div> 
                            </div>                    
                        
                        <div class="form-group"  *ngIf="msgSummary">
                            <div class="col-xs-12">
                                <p class="alert alert-success"   id="hide-button11">
                                    <strong>{{msgSummary}}</strong> 
                                </p>
                            </div>
                        </div>
                        <div  id="hide-button12">
                            <button class="btn btn-primary" [disabled]='!registerStatistics.valid'>Update</button>
                        </div>  
                    </form> 
                </div>
            </div>
        </div>
    </section>
    
    <section id="section5" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                <h2>Signature</h2><hr>
                    <ng-signature-pad doneButtonText="Update" format="base64" (done)="showImage($event)">
                    </ng-signature-pad>
                </div>
            </div>
            <button class="btn btn-success" *ngIf="isShow" style="float:right;" (click)="gotoTop()">Scroll Top</button>
        </div>
    </section>
</div>   

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy;Cerebros Strategy 2019</p>
    </div>
</footer>